{% extends 'base.html' %}

{% block content %}

<br><br>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Events</a></li>
    {% if object %}
    <li class="breadcrumb-item"><a href="{% url 'detail' object.id %}">{{ event.title }}</a></li>
    <li class="breadcrumb-item active">Edit {{ event.title }}</li>
    {% else %}
    <li class="breadcrumb-item active">New Event</li>
    {% endif %}
</ol>



<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">{% if object %} Update Event {% else %} Add Event {% endif %}</button>
</form>

<script>
    const dateEl = document.getElementById('id_date');
    const timeEl = document.getElementById('id_time');
    M.Datepicker.init(dateEl, {
        format: 'mmm dd, yyyy',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    M.Timepicker.init(timeEl, {
        defaultTime: 'now',
        twelveHour: false,
        autoClose: true
    });
</script>

{% endblock %}