{% extends 'base.html' %}

{% block content %}

<br><br>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Events</a></li>
    <li class="breadcrumb-item"><a href="{% url 'detail' event.id %}">{{ event.title }}</a></li>
    <li class="breadcrumb-item active">Delete {{ event.title }}</li>
</ol>

<div class="alert alert-dismissible alert-warning">
    <form action="" method="post">
        {% csrf_token %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="window.location.href='{% url 'detail' object.id %}'"></button>
        <h4 class="alert-heading">You are about to delete: "{{ object.title }} on {{ object.date }} at {{ object.time }}"</h4>
        <p class="mb-0">Are you sure you want to delete "{{ object.title }}"?</p><br>
        <button class="btn btn-secondary btn-sm" type="submit">Yes - Delete</button>
    </form>
</div>

{% endblock %}