{% extends 'base.html' %}

{% block content %}

<br><br>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Events</a></li>
    {% if object %}
    <li class="breadcrumb-item"><a href="{% url 'detail' object.id %}">{{ event.title }}</a></li>
    <li class="breadcrumb-item active">Edit {{ event.title }}</li>
    {% else %}
    <li class="breadcrumb-item active">New Event</li>
    {% endif %}
</ol>

<div class=" mx-5">
    <form method="POST" action="{% if object %}{% url 'events_update' object.id %}{% else %}{% url 'events_create' %}{% endif %}">
        <fieldset>
            <legend>{% if object %} Edit "{{ event.title }}" {% else %} Create New Event {% endif %}</legend>
            {% csrf_token %}
    
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}" class="form-label mt-4">Title:</label>
                {{ form.title }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}" class="form-label mt-4">Description:</label>
                {{ form.description }}
            </div>
    
            <div class="form-group ">
                <label for="{{ form.date.id_for_label }}" class="form-label mt-4">Date:</label>
                {{ form.date }}
                <small class="form-text text-muted">Please use MM/DD/YYYY format (e.g., 12/31/2012)</small>
            </div>
    
            <div class="form-group ">
                <label for="{{ form.time.id_for_label }}" class="form-label mt-4">Time:</label>
                {{ form.time }}
                <small class="form-text text-muted">Please use 24-hour format (e.g., 15:30)</small>
            </div>
            
            <div class="form-group ">
                <label for="{{ form.location.id_for_label }}" class="form-label mt-4">Location:</label>
                {{ form.location }}
                <small class="form-text text-muted">Please use one of the following formats:</small>
                <ul class="list-unstyled">
                    <li class="form-text text-muted">- Street Address, City, State, Zip (e.g., 123 Main St, City, State Zip)</li>
                    <li class="form-text text-muted">- Business Name or Landmark (e.g., Central Park, Disneyworld, Atlanta Airport)</li>
                </ul>
            </div>
    
            <div class="form-group ">
                <label for="{{ form.attendees.id_for_label }}" class="form-label mt-4">Attendees:</label>
                {{ form.attendees }}
                <small class="form-text text-muted">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</small>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">{% if object %} Save Changes {% else %} Add Event {% endif %}</button>
            {% if object %}
            <button class="btn btn-secondary" type="button" onclick="window.location.href='{% url 'detail' object.id %}'">Cancel</button><br><br>
            {% else %}
            <button class="btn btn-secondary" type="button" onclick="window.location.href='{% url 'index' %}'">Cancel</button><br><br>
            {% endif %}
        </fieldset>
    </form>
</div>


<script>
    const selectEl = document.getElementById("id_attendees");
    selectEl.setAttribute("class", "form-select");

    const textareaEl = document.getElementById("id_description");
    textareaEl.setAttribute("class", "form-control");
    textareaEl.setAttribute("rows", "3");

    const titleEl = document.getElementById("id_title");
    titleEl.setAttribute("class", "form-control");

    const dateEl = document.getElementById("id_date");
    dateEl.setAttribute("class", "form-control");

    const timeEl = document.getElementById("id_time");
    timeEl.setAttribute("class", "form-control");

    const locationEl = document.getElementById("id_location");
    locationEl.setAttribute("class", "form-control");

</script>
{% endblock %}